---
layout: container
title: Download Stride
permalink: /download/
menu: download
description: 'Download the latest version of the Stride game engine and start creating immersive games and experiences. Get system requirements, installation instructions, and access to tutorials and documentation.'
tags: search
banner:
  title: Download Stride
  sub-title: The Freedom to Create Your Own Game
  image-url: /images/backgrounds/download.webp
---
<div class="card">
    <div class="card-body p-4">
        <div class="row">
            <div class="col-lg-7 col-md-6 rt-left">
                <h2 class="h1 mb-3">Your Next Game Engine</h2>
                <p class="lead">Stride is a powerful, open-source 2D and 3D cross-platform game engine. It's free to use, modify, and distribute under the permissive <strong>MIT</strong> license. Whether you're creating a simple mobile game or the next big console hit, Stride has the features and flexibility you need.</p>
                <h2>Your Freedom with Stride</h2>
                <ul class="lead">
                    <li>Use Stride for any purpose</li>
                    <li>Distribute Stride however you like</li>
                    <li>Dive into Stride's workings and modify it to suit your needs</li>
                    <li>Share or distribute your modified versions of Stride</li>
                </ul>
                <div class="mb-2">
                    <div>
                        <a href="{{ site.links.stride-download-url }}" target="_self" class="btn btn-lg btn-stride me-2 mt-3">
                            <i class="fa-solid fa-download"></i> Installer Download
                        </a>
                        <a href="{{ site.links.github-stride-url }}" class="btn btn-lg btn-outline-stride mt-3" target="_blank" rel="noopener">
                            <i class="fa-brands fa-github text-decoration-none"></i> Source Code
                        </a>
                    </div>
                    <div class="text-secondary mt-2 small">Note: The installer download is approximately 55 MB. This file will be downloaded directly from our GitHub main repository.</div>
                </div>
                <h2>Get Started with Stride</h2>
                <p class="lead">Before you download, make sure to check the <a href="{{ site.links.docs-requirements-url }}" target="_blank" rel="noopener">system requirements</a> for Stride. Ready to dive in? View the most recent changes in our <a href="{{ site.links.docs-release-notes-url }}" target="_blank" rel="noopener">release notes</a>.</p>
            </div>
            <div class="col-lg-5 col-md-6 rt-center feature-block">
                <a href="/images/features/gamestudio/overview.webp" title="The GameStudio Editor" class="feature-image-container image-popup">
                    <div class="rt-image"><div class="zoom-in"></div><img class="img-fluid" src="/images/features/gamestudio/overview.webp" alt="Game Studio application screen shot" /></div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="card mt-5">
    <div class="card-body p-4">
        <div class="row">
            <div class="col-lg-7 col-md-6 rt-left">
                <h2 class="h1 mb-3">Frequently asked questions</h2>
                <div class="accordion">
                    {% include accordion-item-faq.html id:"what-platforms"
                    title:"What platforms can I make applications for using Stride?"
                    body:"<p>Stride currently supports <b>Windows</b>, <b>Android</b>, <b>iOS</b>, <b>Xbox One</b> and <b>Universal Windows Platforms (UWP)</b>. Stride also supports most popular VR devices and has experimental support for Linux.</p>"
                    %}

                    {% capture body %}
                    <p>See the <a href="/features/">Stride features page</a>, the <a href="{{ site.links.docs-manual-url }}" target="_blank" rel="noopener">Stride documentation</a>, the <a href="/blog/">Stride blog</a>, and the <a href="{{ site.links.docs-release-notes-url }}" target="_blank" rel="noopener">Stride release notes</a>. If you can't find what you're looking for, ask on the <a href="{{ site.links.github-discussions-url }}" target="_blank" rel="noopener">Stride GitHub discussions</a>.</p>
                    {% endcapture %}
                    {% include accordion-item-faq.html id:"question-features"
                    title:"Where can I learn about the Stride features?"
                    body:body
                    %}

                    {% include accordion-item-faq.html id:"question-modify"
                    title:"Do I have to open the code of my game if I modify Stride/Xenko?"
                    body:"<p>No. Xenko 3.x and Stride 4+ are covered by MIT license.</p>"
                    %}

                    {% include accordion-item-faq.html id:"question-what-application"
                    title:"What kinds of application can I make with Stride?"
                    body:"<p>Stride is open-source, highly modular, and super-versatile. You can use it to create mobile, PC and VR games, or as a high-end rendering engine for applications such as training simulations or architecture and engineering software.</p>"
                    %}

                    {% include accordion-item-faq.html id:"question-content-ownership"
                    title:"Do I own the content I make with Stride?"
                    body:"<p>Yes. You own all the content you make with Stride.</p>"
                    %}
                </div>
                <p class="lead mt-3">
                    For more answers, see our dedicated <a href="/faq/">FAQ page</a>.
                </p>
            </div>
            <div class="col-lg-5 col-md-6 rt-center feature-block">
                <a href="/images/features/graphics/overview.jpg" title="Material Editor" class="feature-image-container image-popup">
                    <div class="rt-image"><div class="zoom-in"></div><img src="/images/features/graphics/overview.jpg" alt="Material Editor" class="img-fluid"></div>
                </a>
            </div>
        </div>
    </div>
</div>