---
layout: features
title: Features
permalink: /features/
excerpt: 'Xenko supports an extensive list of features: Scene Editor, Physically Based Rendering, Particles, UI Editor, Prefabs, DX12 & Vulkan, C# Scripting, etc...'
---

<div class="bg-light bg-bottom-border">
<div class="container">
<div class="row">
    <a class="anchor" id="game-studio"></a>
	<div class="col-lg-7 col-md-6 gantry-width-block rt-left">
		<h1><span class="rt-accent-color1">Game</span> Studio</h1>
		<p>Xenko comes with a robust toolchain that enables you to intuitively and efficiently create, manage and modify all assets of your game.</p>
		<p>The suite of editors simplify and automate common development workflows. Its nested prefab and archetype systems scale along all editors and assets.</p>
		<p>Xenko Game Studio has also been designed so that it can be extended easily. A plug-in system to help users extend the Game Studio is coming soon!</p>
	</div>
	<div class="col-lg-5 col-md-6 gantry-width-block rt-center feature-block">
		<a href="/images/features/gamestudio/overview.jpg" title="The GameStudio Editor" class="feature-image-container image-popup">
			<div class="rt-image"><div class="zoom-in"></div><img src="/images/features/gamestudio/overview.jpg"/></div>			
		</a>
	</div>
</div>
<div class="row">
{% assign features_current = 'gamestudio' %}
{% include features_block.html %}
</div>
</div>
</div>

<div class="bg-dark bg-bottom-border">
<div class="container">
<div class="row">
    <a class="anchor" id="graphics"></a>
	<div class="col-lg-7 col-md-6 gantry-width-block rt-left">
		<h1>Advanced <span class="rt-accent-color1">graphics</span></h1>
		<p>With Xenko, there's no need to be a rendering expert to make great-looking games. The engine does the work for you, so you can focus on the important stuff.</p>
		<p>Xenko's PBR materials, light probes, post effects, multithreading, and next-gen graphics API support deliver realistic graphics with outstanding performance.</p>
		<p>The flexible pipeline, accessible low-level APIs, and customizable shaders let you tweak the rendering as much as you need.</p>
	</div>
	<div class="col-lg-5 col-md-6 gantry-width-block rt-center feature-block">
		<a href="/images/features/graphics/overview.jpg" title="Material Editor" class="feature-image-container image-popup">
			<div class="rt-image"><div class="zoom-in"></div><img src="/images/features/graphics/overview.jpg" alt="Material Editor"></div>			
		</a>
	</div>
</div>
<div class="row">
{% assign features_current = 'graphics' %}
{% include features_block.html %}
</div>
</div>
</div>

<div class="bg-light bg-bottom-border"/>
<div class="container">
<div class="row">
    <a class="anchor" id="engine"></a>
	<div class="col-lg-7 col-md-6 gantry-width-block rt-left">
		<h1>Reliable <span class="rt-accent-color1">engine</span></h1>
		<p>Whether you're indie or AAA, Xenko lets you focus on your ideas rather than technical concerns.</p>
		<p>It comes with a full set of modules dedicated to editing every part of your game. Each is provided out of the box and integrated into the engine.</p>
		<p>Modern C# scripting with shader and script hot reload lets you build prototypes and iterate fast.</p>
	</div>
	<div class="col-lg-5 col-md-6 gantry-width-block rt-center feature-block">
		<a href="/images/features/engine/overview.jpg" title="The Eternity Blood Sample Game" class="feature-image-container image-popup">
			<div class="rt-image"><div class="zoom-in"></div><img src="/images/features/engine/overview.jpg"></div>			
		</a>
	</div>
</div>
<div class="row">
{% assign features_current = 'engine' %}
{% include features_block.html %}
</div>
</div>
</div>

<div class="bg-dark">
<div class="container">
<div class="row">
    <a class="anchor" id="vr"></a>
	<div class="col-lg-7 col-md-6 gantry-width-block rt-left">
		<h1><span class="rt-accent-color1">VR</span> ready</h1>
		<p>Xenko's clustered forward rendering, with its multisample anti-aliasing, makes it ideal for VR. Enabling VR is as simple as a single click.</p>
		<p>Xenko uses a single API for every device, with native support for Oculus and HTV Vive (more devices coming very soon).</p>
		<p>Xenko's <b>HRTF binaural audio</b> greatly improves VR immersion.</p>
	</div>
	<div class="col-lg-5 col-md-6 gantry-width-block rt-center feature-block">
		<a href="/images/features/vr/overview.jpg" title="VR Game Template" class="feature-image-container image-popup">
			<div class="rt-image"><div class="zoom-in"></div><img src="/images/features/vr/overview.jpg" alt="VR Game Template"></div>			
		</a>
	</div>
</div>
<div class="row">
{% assign features_current = 'vr' %}
{% include features_block.html %}
</div>
</div>
</div>
