---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ site.url }}">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ permalink | absoluteUrl(site.url) }}" rel="self"/>
  <link href="{{ site.url }}"/>
  <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}</id>
  <generator>{{ site.engine }}</generator>
  <author>
    <name>Stride Community</name>
  </author>
  {%- for post in collections.blog | reverse %}
  {%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
  {%- set author = site.authors[post.data.author] %}
  <entry>
    <title>{{ post.data.title }}</title>
    {%- if author -%}<author>
      <name>{{ author.name }}</name>
    </author>{%- endif -%}
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content xml:lang="{{ site.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>