---
layout: default
title: Home
eleventyComputed:
  description: Stride, an MIT-licensed C# game engine, built for the future of gaming. Use {{ site.csharp-version }} and {{ site.dotnet-version }} to create your own games. #opensource
---
{% include carousel_home.html %}
<div class="container-xxl mt-5 mt-sm-0">
    <div class="row g-5 py-sm-5">
        <div class="col-lg-6">
            <div class="card h-100">
                <div class="ratio ratio-16x9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SlipyjcEb0g?controls=0&autoplay=1&mute=1&loop=1&playlist=SlipyjcEb0g" title="Stride YouTube demo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body p-4">
                    <h1 class="h1 mb-3">Open-source C# Game Engine</h1>
                    <p class="lead">Stride is a free and open-source 2D and 3D cross-platform game engine.
                    <p class="lead">Stride can be used to create video games for PC, mobile devices and virtual reality or interactive content.</p>
                </div>
                <div class="px-4 mb-4">
                    <div class="row g-4">
                        <div class="col-auto">
                            <a href="/download/" class="btn btn-lg btn-stride me-2">
                                <i class="fa-solid fa-download"></i> Download {{ site.download-version }}
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="{{ site.links.github-stride-url }}" class="btn btn-lg btn-outline-stride" target="_blank" rel="noopener">
                                <i class="fa-brands fa-github text-decoration-none"></i> Source Code (MIT)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card h-100">
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/m4bC4h0aXfA?autoplay=0" allowfullscreen title="Stride YouTube demo"></iframe>
                </div>
                <div class="card-body p-4">
                    <h2 class="h1 mb-3">Bet of the future</h2>
                    <ul class="lead mb-4 fa-ul" style="--fa-li-margin: 1.8em;">
                        {% include bullet-point.html text:'Next-gen graphics API support' %}
                        {% include bullet-point.html text:'Photorealistic rendering' %}
                        {% include bullet-point.html text:'Fully multi-threaded' %}
                        {% include bullet-point.html text:'VR ready' %}
                        {% include bullet-point.html text:'Fully customizable to your needs' %}
                        {% include bullet-point.html text:'Long-term code maintainability' %}
                    </ul>
                </div>
                <div class="px-4 mb-4">
                    <a href="/features/" class="btn btn-lg btn-outline-stride me-md-2">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card h-100">
                <img src="/images/home/stride-studio-editor.webp" alt="Stride Editor Screenshot" width="816" height="441" class="img-fluid">
                <div class="card-body p-4">
                    <h2 class="h1 mb-3">Accelerated development</h2>
                    <ul class="lead mb-4 fa-ul" style="--fa-li-margin: 1.8em;">
                        <li><span class="fa-li"><i class="fa-solid fa-circle-check text-stride me-2"></i></span>{{ site.csharp-version }} scripting with {{ site.dotnet-version }}</li>
                        {% include bullet-point.html text:'Built-in game templates' %}
                        {% include bullet-point.html text:'Full asset creation toolchain' %}
                        {% include bullet-point.html text:'Flexible and customizable rendering pipeline' %}
                    </ul>
                </div>
                <div class="px-4 mb-4">
                    <a href="/features/" class="btn btn-lg btn-outline-stride me-md-2">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card h-100">
                <img src="/images/backgrounds/toppage_poster_cropped.webp" alt="Game Image" width="816" height="441" class="img-fluid">
                <div class="card-body p-4">
                    <h2 class="h1 mb-3">Collaborate with us</h2>
                    <ul class="lead mb-4 fa-ul" style="--fa-li-margin: 1.8em;">
                        {% include bullet-point.html text:'Editor and runtime open source (MIT)' %}
                        {% include bullet-point.html text:'Participate in the community' %}
                        {% include bullet-point.html text:'Propose changes to the engine and docs' %}
                        {% include bullet-point.html text:'Connect with Stride game engine community' %}
                    </ul>
                </div>
                <div class="px-4 mb-4">
                    <a href="/community/" class="btn btn-lg btn-outline-stride me-md-2">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card h-100">
                <img src="/images/top/platforms.webp" alt="Platforms Image" width="816" height="459" class="img-fluid mt-2 mb-lg-5">
                <div class="card-body p-4">
                    <h2 class="h1 mb-3 mt-lg-2">Develop once, deploy cross-platform</h2>
                    <ul class="lead mb-4 fa-ul" style="--fa-li-margin: 1.8em;">
                        {% include bullet-point.html text:'Windows Desktop & Windows Universal' %}
                        {% include bullet-point.html text:'iOS and Android through Xamarin' %}
                        {% include bullet-point.html text:'Xbox One via UWP' %}
                    </ul>
                </div>
                <div class="px-4 mb-4">
                    <a href="/features" class="btn btn-lg btn-outline-stride me-md-2">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card h-100">
                <div class="image-code-script-wrapper" style="perspective: 500px;">
                    <img src="/images/backgrounds/stride-game-code-short.webp" alt="Game Image" width="816" height="459" style="transform:rotateY(15deg)" class="img-fluid">
                </div>
                <div class="card-body p-4">
                    <h2 class="h1 mb-3">Write your Stride scripts in {{ site.csharp-version }}</h2>
                    <ul class="lead mb-4 fa-ul" style="--fa-li-margin: 1.8em;">
                        {% include bullet-point.html text:'IntelliSense and code navigation for C#' %}
                        {% include bullet-point.html text:'Visual Studio, Visual Studio Code or Rider' %}
                        <li><span class="fa-li"><i class="fa-solid fa-circle-check text-stride me-2"></i></span> Game Development with {{ site.dotnet-version }}</li>
                    </ul>
                </div>
                <div class="px-4 mb-4">
                    <a href="/features/#scripting" class="btn btn-lg btn-outline-stride me-md-2">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card h-100">
                <div class="p-4">
                    <img src="/images/logos/Silicon_Studio_logo.svg" alt="Silicon Studio" class="img-fluid">
                </div>
                <div class="card-body p-4">
                    <h2 class="h1 mb-3">History</h2>
                    <p class="lead">Xenko was originally started by <b><a href="https://www.siliconstudio.co.jp/en/" target="_blank" rel="noopener">Silicon Studio</a></b>, a technology and services company of 300+ employees founded in 2000, dedicated to driving entertainment forward. Silicon Studio develops world-class products to help developers maximize the potential of leading-edge digital media technology.</p>
                    <p class="lead">In 2018, Silicon Studio turned Xenko into an independent open-source community-driven project.</p>
                    <p class="lead">In 2020, Xenko was renamed to Stride.</p>
                    <p class="lead">In 2021 May, Stride joined .NET foundation.</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body p-4">
                    <h2 class="h1 mb-3">Our Featured Sponsors</h2>
                    <p class="lead">Thanks to our Featured Sponsors for supporting Stride and empowering creators with the resources they need to bring their visions to life.</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row g-5 row-cols-1 row-cols-md-3">
                {% comment %}{% include sponsor-diamond.html %}
                {% include sponsor-platinum.html %}{% endcomment %}
                {% include sponsor-generic.html %}
            </div>
        </div>
    </div>
</div>
