---
layout: container
title: Support the Future of Stride
permalink: /sponsor/
description: 'Support Stride Game Engine: Become a sponsor and contribute to the development of the powerful open-source Stride game engine. Help shape its future!'
banner:
  title: A Special Thanks to Our Sponsors
  sub-title: Empowering Innovation and Creativity in Game Development
  image-url: /images/backgrounds/spaceescape.webp
  h1: false
---
<div class="card">
    <div class="card-body p-4">
        <div class="row">
            <div class="col-lg-7 col-md-6 rt-left">
                <h1 class="mb-3">Support the Future of Stride</h1>
                <p class="lead">Stride is a community-driven free and open source project.</p>
                <p class="lead">A big shout out to all those who sponsor the Stride Game Engine.</p>
                <p>
                    <img alt="Financial Contributors badge" src="https://opencollective.com/stride3d/tiers/badge.svg" />
                </p>
                <p class="my-5">
                    <a href="https://opencollective.com/stride3d" target="_blank" rel="noopener">
                        <img src="https://opencollective.com/stride3d/donate/button@2x.png?color=blue" width=300 />
                    </a>
                </p>
                <p>Sponsors play a crucial role in empowering developers and creators by supporting the tools and resources they need to bring their visions to life. The Stride project, as an open-source platform, relies on the dedication and backing of sponsors like ours to maintain and improve the quality of our game engine, documentation, and resources.</p>
            </div>
            <div class="col-lg-5 col-md-6 rt-center feature-block">
                <a href="/images/features/gamestudio/overview.webp" title="The GameStudio Editor" class="feature-image-container image-popup">
                    <div class="rt-image"><div class="zoom-in"></div><img class="img-fluid" src="/images/features/gamestudio/overview.webp" /></div>
                </a>
            </div>
        </div>
    </div>
</div>
{% comment %}<div class="card mt-5">
    <div class="card-body p-4">
        <h2 class="mb-3">Diamond Striders</h2>
        <div class="row">
            {% include sponsor-diamond.html %}
        </div>
        <h2 class="mb-3 mt-4">Platinum Striders</h2>
        <div class="row">
            {% include sponsor-platinum.html %}
        </div>
    </div>
</div>{% endcomment %}
<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body p-4">
            <h2 class="mb-0">Featured Sponsors</h2>
        </div>
    </div>
</div>
<div class="row mt-5">
    {% include sponsor-generic.html %}
</div>
{% comment %} The styling is difficult as those widgets are not responsive. We can fix in the future by fetching json and display what we want and how we want. {% endcomment %}
<div class="card mt-5">
    <div class="card-body p-4">
        <div class="row mb-3 mt-4">
            <div class="col-md-4">
                <h2 class="text-center">Gold Striders</h2>
                <object type="image/svg+xml" data="https://opencollective.com/stride3d/tiers/gold-strider.svg?avatarHeight=40&button=false&width=290"></object>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Silver Striders</h2>
                <object type="image/svg+xml" data="https://opencollective.com/stride3d/tiers/silver-strider.svg?avatarHeight=40&button=false&width=290"></object>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Bronze Striders</h2>
                <object type="image/svg+xml" data="https://opencollective.com/stride3d/tiers/bronze-strider.svg?avatarHeight=40&button=false&width=290"></object>
            </div>
        </div>
    </div>
</div>
<div class="card mt-5">
    <div class="card-body p-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2>All Stride Sponsors</h2>
                <script src="https://opencollective.com/stride3d/banner.js"></script>
                <h3>Additional Sponsors</h3>
                <p>Thank you to all our additional sponsors who have contributed to the Stride project.</p>
                <p>David Jeske</p>
            </div>
        </div>
    </div>
</div>