<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="366.00:00:00" />
			<remove fileExtension=".html" />
			<remove fileExtension=".json" />
			<remove fileExtension=".css" />
			<remove fileExtension=".webp" />
			<remove fileExtension="woff" />
			<remove fileExtension="woff2" />
			<remove fileExtension=".mp4" />

			<mimeMap fileExtension=".html" mimeType="text/html" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".css" mimeType="text/css" />
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
			<mimeMap fileExtension="woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
		</staticContent>

		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="404" />
			<error statusCode="404" path="404.html" responseMode="File" />
		</httpErrors>

		<httpProtocol>
			<customHeaders>
				<!-- disables iframing the website from other than the origin -->
				<add name="X-Frame-Options" value="DENY" />
				<!-- configure the built in reflective XSS protection found in Internet Explorer, Chrome and Safari (Webkit). -->
				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="Referrer-Policy" value="strict-origin-when-cross-origin"/>
				<!-- prevents Google Chrome and Internet Explorer from trying to mime-sniff the content-type of a response away from the one being declared by the server -->
				<add name="X-Content-Type-Options" value="nosniff"/>
				<add name="Content-Security-Policy" value="upgrade-insecure-requests; base-uri 'self'; frame-ancestors 'self'; form-action 'self'; object-src 'self' https://opencollective.com;"/>
				<add name="Permissions-Policy" value="accelerometer=(self), camera=(self), geolocation=(self), gyroscope=(self), magnetometer=(self), microphone=(self), payment=(self), usb=(self)" />
			</customHeaders>
		</httpProtocol>

		<rewrite>
			<rules>
				<rule name="Redirect xenko.com to stride3d.net" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^(.*)xenko\.com$" />
					</conditions>
					<action type="Redirect" url="https://{C:1}stride3d.net/{R:0}" redirectType="Permanent" />
				</rule>
				<rule name="Redirect /privacypolicy to /legal/privacy-policy">
					<match url="^privacypolicy(.*)$" />
					<action type="Rewrite" url="legal/privacy-policy{R:1}"/>
				</rule>
				<rule name="Redirect all requests to https" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action
					   type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}"
					   redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="Redirect Blog Page 2" stopProcessing="true">
					<match url="^blog/page2/$" />
					<action type="Redirect" url="blog/1/" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Blog Page 3" stopProcessing="true">
					<match url="^blog/page3/$" />
					<action type="Redirect" url="blog/2/" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Blog Page 4" stopProcessing="true">
					<match url="^blog/page4/$" />
					<action type="Redirect" url="blog/3/" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Blog Page 5" stopProcessing="true">
					<match url="^blog/page5/$" />
					<action type="Redirect" url="blog/4/" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Blog Page 6" stopProcessing="true">
					<match url="^blog/page6/$" />
					<action type="Redirect" url="blog/5/" redirectType="Permanent" />
				</rule>
				<rule name="Redirect Blog Page 7" stopProcessing="true">
					<match url="^blog/page7/$" />
					<action type="Redirect" url="blog/6/" redirectType="Permanent" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
					<match serverVariable="RESPONSE_Strict_Transport_Security"
						pattern=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="on" ignoreCase="true" />
					</conditions>
					<action type="Rewrite" value="max-age=31536000" />
				</rule>
			</outboundRules>
		</rewrite>

		<urlCompression doStaticCompression="true" doDynamicCompression="true"/>
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<dynamicTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="application/x-javascript" enabled="true"/>
				<add mimeType="application/json" enabled="true" />
				<add mimeType="text/html" enabled="true" />
				<add mimeType="*/*" enabled="false"/>
			</dynamicTypes>
			<staticTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="application/x-javascript" enabled="true"/>
				<add mimeType="application/json" enabled="true" />
				<add mimeType="text/html" enabled="true" />
				<add mimeType="image/svg+xml" enabled="true" />
				<add mimeType="*/*" enabled="false"/>
			</staticTypes>
		</httpCompression>
	</system.webServer>

	<!-- We are disabling caching for important folders (pages), html files -->
	<location path="index.html" inheritInChildApplications="false">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
				<remove fileExtension=".html" />
				<mimeMap fileExtension=".html" mimeType="text/html" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="archive" inheritInChildApplications="false">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
				<remove fileExtension=".html" />
				<mimeMap fileExtension=".html" mimeType="text/html" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="tags" inheritInChildApplications="false">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
				<remove fileExtension=".html" />
				<mimeMap fileExtension=".html" mimeType="text/html" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="community" inheritInChildApplications="false">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
				<remove fileExtension=".html" />
				<mimeMap fileExtension=".html" mimeType="text/html" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="sponsor" inheritInChildApplications="false">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
				<remove fileExtension=".html" />
				<mimeMap fileExtension=".html" mimeType="text/html" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="download" inheritInChildApplications="false">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
				<remove fileExtension=".html" />
				<mimeMap fileExtension=".html" mimeType="text/html" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="features" inheritInChildApplications="false">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
				<remove fileExtension=".html" />
				<mimeMap fileExtension=".html" mimeType="text/html" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="feed.xml" inheritInChildApplications="false">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="search.json" inheritInChildApplications="false">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="sitemap.xml" inheritInChildApplications="false">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>
