<configuration>
    <configSections>
        <!-- Intentionally kept empty for transformations -->
    </configSections>
    <system.webServer>
        <staticContent>
            <remove fileExtension="woff" />
            <remove fileExtension="woff2" />
            <mimeMap fileExtension="woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
            <remove fileExtension=".mp4"/>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" path="404\index.html" responseMode="File" /> 
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="Redirect store.xenko.com (HTTPS) to stride3d.net/download" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="ON" />
                        <add input="{HTTP_HOST}" pattern="^store\.xenko\.com$" />
                    </conditions>
                    <action type="Redirect" url="https://stride3d.net/download/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect xenko.com to stride3d.net" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.*)xenko\.com$" />
                    </conditions>
                    <action type="Redirect" url="https://{C:1}stride3d.net/{R:0}" redirectType="Permanent" />
                </rule>
                <rule name="Redirect www.stride3d.net to stride3d.net" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.stride3d\.net$" />
                    </conditions>
                    <action type="Redirect" url="https://stride3d.net/{R:0}" redirectType="Permanent" />
                </rule>
                <rule name="Redirect /privacypolicy to /legal/privacy-policy">
                    <match url="^privacypolicy(.*)$" />
                    <action type="Rewrite" url="legal/privacy-policy{R:1}"/>
                </rule>
                <rule name="Redirect all requests to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action 
                       type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" 
                       redirectType="Permanent" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>