<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <configSections>
      <section name="basicAuth" type="Devbridge.BasicAuthentication.Configuration.BasicAuthenticationConfigurationSection" xdt:Transform="InsertIfMissing"/>
    </configSections>
    <basicAuth xdt:Transform="InsertIfMissing">
      <credentials xdt:Transform="InsertIfMissing">
        <!-- Note: password is supposed to be replaced by regex -->
        <add username="{username:username}" password="{password:password}" xdt:Transform="InsertIfMissing"/>
      </credentials>
    </basicAuth>
    <system.webServer xdt:Transform="InsertIfMissing">
        <modules xdt:Transform="InsertIfMissing">
          <add name="MyBasicAuthenticationModule" type="Devbridge.BasicAuthentication.BasicAuthenticationModule" xdt:Transform="InsertIfMissing"/>
        </modules>
    </system.webServer>
</configuration>