<configuration>
    <configSections>
        <!-- Intentionally kept empty for transformations -->
    </configSections>
    <system.webServer>
        <staticContent>
            <remove fileExtension="woff" />
            <remove fileExtension="woff2" />
            <mimeMap fileExtension="woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
            <remove fileExtension=".mp4"/>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" path="404\index.html" responseMode="File" /> 
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="Redirect paradox3d.net (HTTP) to xenko.com" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="OFF" />
                        <add input="{HTTP_HOST}" pattern="^(.*)paradox3d\.net$" />
                    </conditions>
                    <action type="Redirect" url="http://{C:1}xenko.com/{R:0}" redirectType="Permanent" />
                </rule>
                <rule name="Redirect paradox3d.net (HTTPS) to xenko.com" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="ON" />
                        <add input="{HTTP_HOST}" pattern="^(.*)paradox3d\.net$" />
                    </conditions>
                    <action type="Redirect" url="https://{C:1}xenko.com/{R:0}" redirectType="Permanent" />
                </rule>
                <rule name="Redirect store.xenko.com (HTTPS) to xenko.com/download" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="ON" />
                        <add input="{HTTP_HOST}" pattern="^store\.xenko\.com$" />
                    </conditions>
                    <action type="Redirect" url="https://xenko.com/download/" redirectType="Permanent" />
                </rule>
                <rule name="Redirect www.xenko.com to xenko.com" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.xenko\.com$" />
                    </conditions>
                    <action type="Redirect" url="http://xenko.com/{R:0}" redirectType="Permanent" />
                </rule>
                <rule name="Redirect /privacypolicy to /legal/privacy-policy">
                    <match url="^privacypolicy(.*)$" />
                    <action type="Rewrite" url="legal/privacy-policy{R:1}"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>