
@import "../_const.scss";

#x_wrap
{
	$w3: 1024px;

	//----------

	div.x_fnBox
	{
		min-height: 150px;
		padding-top:20px;
		padding-bottom: 20px;
		margin-bottom: 40px;
		text-align: left;

		dt 
		{
			margin-bottom: 0.5em;
			font-size: 24px;
			font-size: 2.4rem;

			@media ( max-width: $w_under_iphone )
			{
				font-size: 20px;
				font-size: 2rem;
			}
		}

		dd
		{
			min-height: 78px;
			padding-right: 60px;
			position: relative;
		}

		p 
		{
			margin: 0;
		}

		div.xi_arrowLink
		{
			width: 40px;
			height: 78px;
			float: right;
			position: relative;
			top: 0;
			right: 0;

            display: block;
            overflow: hidden;
            background: url(../images/svg/arrow.svg) no-repeat -26px 50%;
            background-size: 132px 200px;
            text-indent: 100%;
            white-space: nowrap;

            &:hover
            {
                background-position: 100% 50%;
            }
		}

		&.noIcon
		{
			min-height: 90px;
			padding: 0;
			margin-bottom: 30px;

			dl 
			{
				position: relative;
			}

			dt 
			{
				text-align: left;
			}

			dd 
			{
				position: static;
			}

			div.xi_arrowLink
			{
				top: 0.8em;
			}
		}
	}

	@media ( max-width: $w3 )
	{
		div.x_halfColumn div.x_fnBox
		{
			min-height: 0;

			dt
			{
				text-align: center;
			}

			dd
			{
				padding-right: 50px;
			}
		}
	}

	@media ( max-width: $w_under_ipad )
	{
		div.x_halfColumn div.x_fnBox, div.x_fnBox
		{
			min-height: 120px;

			dt
			{
				text-align: left;
			}

			dd
			{
				min-height: 50px;
				padding-right: 40px;
			}

			div.xi_arrowLink
			{
				width: 30px;
				height: 50px;

                background-position: -19.5px 50%;
                background-size: 99px 150px;

                &:hover
                {
                    background-position: 100% 50%;
                }
			}
		}

		div.x_fnBox.noIcon
		{
			min-height: 61px;
		}
	}

	@media ( max-width: $w_under_iphone )
	{
		div.x_halfColumn div.x_fnBox, div.x_fnBox
		{
			min-height: 0;

			dt
			{
				text-align: center;
			}
		}
	}
}
