<head>
    <meta charset="utf-8">{% if site.google-analytics %}
    {% include google-tag.html %}{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}{% if title != 'Home' %} - {{ title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ description }}{% endif %}">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css?site-version={{site.version}}">
    {%- if page.image -%}
    <meta property="og:image" content="{{ page.image }}" />
    {%- else -%}
    <meta property="og:image" content="/images/og/ogp.jpg">{% endif %}
    {%- if site.dark-mode -%}
    <script src="{{ site.baseurl}}/scripts/theme-selector.js?site-version={{site.version}}"></script>{% endif %}
</head>