<nav class="navbar navbar-expand-lg bg-light-stride-website">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">
            <img id="logo" height="37" width="124" src="/images/svg/stride-logo-light.svg" alt="Stride logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            {%- assign menu_current = page.url | remove: '/' -%}
            {%- assign menu_blog = menu_current | slice: 0,4 -%}
            <ul class="navbar-nav navbar-nav--text me-auto mb-2 mb-lg-0 ms-sm-2">
                <li class="nav-item">
                    <a class="nav-link{% if menu_current=='features' %} active text-stride{% endif %}" aria-current="page" href="/features/">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if menu_current=='blog' or menu_blog=='blog' %} active text-stride{% endif %}" href="/blog/">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Learn</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ site.links.docs-manual-url }}" target="_blank" rel="noopener">📚 Manual (EN)</a></li>
                        <li><a class="dropdown-item" href="{{ site.links.docs-manual-jp-url }}" target="_blank" rel="noopener">📚 Manual (JP)</a></li>
                        <li><a class="dropdown-item" href="{{ site.links.docs-tutorial-url }}" target="_blank" rel="noopener">🎓 Tutorials</a></li>
                        <li><a class="dropdown-item" href="{{ site.links.docs-release-notes-url }}" target="_blank" rel="noopener">📝 Release Notes</a></li>
                        <li><a class="dropdown-item" href="{{ site.links.docs-api-url }}" target="_blank" rel="noopener">🔧 API</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if menu_current=='community' %} active text-stride{% endif %}" href="/community/">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if menu_current=='download' %} active text-stride{% endif %}" href="/download/">
                        Download
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if menu_current=='sponsor' %} active text-stride{% endif %}" href="/sponsor/">
                        <i class="fa-solid fa-heart text-decoration-none"></i> Sponsor
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap ms-sm-2 navbar-icons">
                <li class="nav-item col-12 col-lg-auto dropdown">
                    <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false" onclick="document.getElementById('search-input').focus()" aria-label="Search button"><i class="fa-solid fa-magnifying-glass text-decoration-none"></i></a>
                    <div class="dropdown-menu dropdown-menu-end p-3" style="width: 280px;">
                        {%- include search-form.html id:"search-input" -%}
                    </div>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link py-2 px-0 px-lg-2" href="{{ site.links.github-stride-url }}" target="_blank" rel="noopener" aria-label="GitHub link">
                        <i class="fa-brands fa-github text-decoration-none"></i>
                        <small class="d-lg-none">GitHub</small>
                    </a>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link py-2 px-0 px-lg-2" href="{{ site.links.twitter-url }}" target="_blank" rel="noopener" aria-label="Twitter link">
                        <i class="fa-brands fa-twitter text-decoration-none"></i>
                        <small class="d-lg-none">Twitter</small>
                    </a>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link py-2 px-0 px-lg-2" href="{{ site.links.discord-url }}" target="_blank" rel="noopener" aria-label="Discor link">
                        <i class="fa-brands fa-discord text-decoration-none"></i>
                        <small class="d-lg-none">Discord</small>
                    </a>
                </li>
                <li class="nav-item col-6 col-lg-auto">
                    <a class="nav-link px-0 px-lg-2" href="{{ site.links.open-collective-url }}" target="_blank" rel="noopener" aria-label="Open Collective link">
                        {% include svg-icons.html type:'open-collective' size:20 style:'margin-top:-6px' %}
                        <small class="d-lg-none">Open Collective</small>
                    </a>
                </li>{% if site.dark-mode %}
                <li class="nav-item dropdown d-lg-flex align-items-center">
                    <button title="Change theme" class="btn btn-link nav-link dropdown-toggle d-flex align-items-center" id="themeDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="themeDropdown">
                        <li>
                            <button class="dropdown-item" id="lightTheme">
                                <svg data-theme="light" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
                                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                                </svg>
                                <span class="ms-2 text-decoration-none">Light</span>
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" id="darkTheme">
                                <svg data-theme="dark" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars" viewBox="0 0 16 16">
                                    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
                                    <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
                                </svg>
                                <span class="ms-2 text-decoration-none">Dark</span>
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" id="autoTheme">
                                <svg data-theme="auto" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
                                </svg>
                                <span class="ms-2 text-decoration-none">Auto</span>
                            </button>
                        </li>
                    </ul>
                </li>{% endif %}
            </ul>
        </div>
    </div>
</nav>