<div class="row">
    <div class="col-auto pe-0 collapsed" data-bs-toggle="collapse" data-bs-target="#{{ id }}">
        <i class="fa-solid fa-square-plus text-stride mt-2 pt-1"></i>
        <i class="fa-solid fa-square-minus text-stride mt-2 pt-1"></i>
    </div>
    <div class="col accordion-item">
        <label class="fw-bold py-2 w-100" data-bs-toggle="collapse" data-bs-target="#{{ id }}">{{ title }}</label>
        <div id="{{ id }}" class="accordion-collapse collapse">
            <div class="accordion-body">
                {{ body }}
            </div>
        </div>
    </div>
</div>