<div class="carousel-caption">
    <h5 class="text-light mb-3 display-5 fw-bold">Stride Engine</h5>
    <p class="text-light mb-4 lead fw-normal">Free, open-source, cross-platform.</p>
    <a href="/download/" class="btn btn-stride px-4 me-md-1 mb-2">
        <i class="fa-solid fa-download text-decoration-none"></i> Download {{ site.download-version }}
    </a>
    <a href="{{ site.links.github-stride-url }}" class="btn btn-stride px-4 me-md-1 mb-2" target="_blank" rel="noopener">
        <i class="fa-brands fa-github text-decoration-none"></i> Source Code (MIT)
    </a>
    <a href="{{ site.links.open-collective-url }}" class="btn btn-info px-4 me-md-1 d-inline-flex align-items-center mb-2" target="_blank" rel="noopener">
        {% include svg-icons.html type:'open-collective' size:22 %}&nbsp;Donate to our Collective
    </a>
</div>