<div class="carousel-caption">
    <div class="hero-title">
        Stride Engine
    </div>
    <div class="hero-subtitle">
        Free, open-source, cross-platform.
    </div>
    <div class="hero-buttons">
        <a href="/download/" class="btn btn-stride btn-lg px-4 me-md-2">
            <i class="fa-solid fa-download text-decoration-none"></i> Download {{ site.download-version }}
        </a>
        <a href="{{ site.links.github-stride-url }}" class="btn btn-stride btn-lg px-4 me-md-2" target="_blank" rel="noopener">
            <i class="fa-brands fa-github text-decoration-none"></i> Source Code (MIT)
        </a>
        <a href="{{ site.links.open-collective-url }}" class="btn btn-info btn-lg d-inline-flex align-items-center" target="_blank" rel="noopener">
            {% include svg-icons.html type:'open-collective' size:22 %}&nbsp;Donate to our Collective
        </a>
    </div>
</div>