{% assign text-styling='class="text-light" style="--bs-text-opacity: 0.85;"' %}
<div class="bg-footer mt-auto">
    <div class="container">
        <footer class="pt-5 px-2">
            <div class="row">
                <div class="col-6 col-lg-2 mb-3">
                    <h5 {{ text-styling }}>Links</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/features/" class="nav-link p-0 {{ btn-class }}">Features</a></li>
                        <li class="nav-item mb-2"><a href="/blog/" class="nav-link p-0 {{ btn-class }}">Blog</a></li>
                        <li class="nav-item mb-2"><a href="/download/" class="nav-link p-0 {{ btn-class }}">Download</a></li>
                        <li class="nav-item mb-2"><a href="/legal/" class="nav-link p-0 {{ btn-class }}">Legal</a></li>
                        <li class="nav-item mb-2"><a href="/contact/" class="nav-link p-0 {{ btn-class }}">Contact us</a></li>
                        <li class="nav-item mb-2"><a href="/legal/privacy-policy/" class="nav-link p-0 {{ btn-class }}">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5 {{ text-styling }}>Docs</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{{ site.links.docs-manual-url }}" class="nav-link p-0 {{ btn-class }}" target="_blank" rel="noopener">Manual</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.links.docs-api-url }}" class="nav-link p-0 {{ btn-class }}" target="_blank" rel="noopener">Stride API</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.links.docs-release-notes-url }}" class="nav-link p-0 {{ btn-class }}" target="_blank" rel="noopener">Release notes</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.links.docs-tutorial-url }}" class="nav-link p-0 {{ btn-class }}" target="_blank" rel="noopener">Tutorials</a></li>
                    </ul>
                </div>

                <div class="col-6 col-lg-2 mb-3">
                    <h5 {{ text-styling }}>Community</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{{ site.links.open-collective-url }}" class="nav-link p-0 {{ btn-class }}" target="_blank" rel="noopener">Open Collective</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.links.discord-url }}" class="nav-link p-0 {{ btn-class }}" target="_blank" rel="noopener">Discord</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.links.github-stride-url }}" class="nav-link p-0 {{ btn-class }}" target="_blank" rel="noopener">GitHub</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.links.twitter-url }}" class="nav-link p-0 {{ btn-class }}" target="_blank" rel="noopener">Twitter</a></li>
                        <li class="nav-item mb-2"><a href="/faq/" class="nav-link p-0 {{ btn-class }}">FAQ</a></li>
                        <li class="nav-item mb-2"><a href="/sponsor/" class="nav-link p-0 {{ btn-class }}">Sponsor</a></li>
                        <li class="nav-item mb-2"><a href="{{ site.links.github-discussions-url }}" class="nav-link p-0 {{ btn-class }}" target="_blank" rel="noopener">Discussions</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5 {{ text-styling }}>Blog</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/blog/" class="nav-link p-0 {{ btn-class }}">Posts</a></li>
                        <li class="nav-item mb-2"><a href="/tags/" class="nav-link p-0 {{ btn-class }}">Tags</a></li>
                        <li class="nav-item mb-2"><a href="/archive/" class="nav-link p-0 {{ btn-class }}">Archive</a></li>
                    </ul>
                </div>
                <div class="col-md-12 col-lg-4 mb-3 mt-4 text-center text-lg-end">
                    <a class="{{ social-class }} me-2 text-decoration-none mb-3 d-inline-block" href="{{ site.links.github-stride-url }}" target="_blank" rel="noopener" aria-label="GitHub link">
                        <i class="fa-brands fa-xl fa-github text-decoration-none"></i>
                    </a>
                    <a class="{{ social-class }} me-2 text-decoration-none" href="{{ site.links.discord-url }}" target="_blank" rel="noopener" aria-label="Discor link">
                        <i class="fa-brands fa-xl fa-discord text-decoration-none"></i>
                    </a>
                    <a class="{{ social-class }} me-2 text-decoration-none" href="{{ site.links.twitter-url }}" target="_blank" rel="noopener" aria-label="Twitter link">
                        <i class="fa-brands fa-xl fa-twitter text-decoration-none"></i>
                    </a>
                    <a class="{{ social-class }} me-2 text-decoration-none" href="{{ site.links.open-collective-url }}" target="_blank" rel="noopener" aria-label="Open Collective link">
                        {% include svg-icons.html type:'open-collective' size:26 style:'margin-top:-5px' %}
                    </a>
                    <a class="{{ social-class }} me-2 text-decoration-none" href="{{ site.links.facebook-url }}" target="_blank" rel="noopener" aria-label="Facebook link">
                        <i class="fa-brands fa-xl fa-facebook text-decoration-none"></i>
                    </a>
                    <a class="{{ social-class }} me-2 text-decoration-none" href="{{ site.links.youtube-url }}" target="_blank" rel="noopener" aria-label="YouTube link">
                        <i class="fa-brands fa-xl fa-youtube text-decoration-none"></i>
                    </a>
                    <a class="{{ social-class }} me-2 text-decoration-none" href="/feed.xml" aria-label="RSS feed link">
                        <i class="fa-solid fa-rss fa-xl text-decoration-none"></i>
                    </a>
                </div>
            </div>
            <div class="d-flex flex-column flex-sm-row justify-content-between pt-3 pb-4 text-center small">
                <p {{ text-styling }}>Supported by the <a class="{{ social-class }}" href="{{ site.links.dotnet-foundation-url }}" target="_blank" rel="noopener">.NET Foundation</a></p>
                <p {{ text-styling }}>Website v.{{ site.version }}</p>
                <p {{ text-styling }}>© .NET Foundation and Contributors</p>
            </div>
        </footer>
    </div>
</div>