<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NHN3F8B');</script>
  <!-- End Google Tag Manager -->

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}{% if page.title != 'Home' %} - {{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png"> 

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
  <script src="{{ site.baseurl}}/scripts/site.js" type="text/javascript"></script>
  {% if page.sns_image %}
    <meta property="og:image" content="{{ page.sns_image }}"/>
  {% else %}
    <meta property="og:image" content="/images/og/ogp.jpg">
  {% endif %}
</head>
