
{% assign current_nav = page.url | downcase | split: '/' %}
<!-- Static navbar -->
  <div id="x_head_openBG"></div>
  <div id="x_head">
		<h1><a href="/">Stride</a></h1>
		<div id="x_menuButton"><span>OPEN / CLOSE</span></div>
        {% if page.submenu != "contact" and page.menu != "download" %}
		<div id="x_fix_download">

    <a class="x_download" href="/download/" target="_self"><span>(icon)</span> Get Stride</a>

		</div>
        {% endif %}
		<div id="x_head_container">

				{% assign menu_root = site.data.menus %}
				{% assign menu_current = page.menu %}
				{% include menu.html %}

			<div id="x_head_subContainer">

				<a class="x_download" href="/download/" target="_self"><span>(icon)</span> Get Stride</a>

				<h3 class="x_search_title"></h3>
				<div class="x_search">
					<form action="/search.html" method="get">
						<input name="search_paths[]" type="hidden" value="/en">
						<input class="txt" name="query" type="text" value="">
						<input class="send" name="submit" type="submit" value="Search">
					</form>
				</div>
				
				<ul class="x_sns">
					<li class="discord"><a href="https://discord.gg/f6aerfE" target="_blank" title="Discord">Discord</a></li>
					<li class="facebook"><a href="https://www.facebook.com/stride3d" target="_blank" title="Facebook">Facebook</a></li>
					<li class="twitter"><a href="https://twitter.com/stridedotnet" target="_blank" title="Twitter">Twitter</a></li>
					<li class="youtube"><a href="https://www.youtube.com/c/Stride3D" target="_blank" title="YouTube">YouTube</a></li>
				</ul>
				<!--<div class="x_lang">
					<p>LANGUAGE</p>
				</div>-->
				<a href="https://www.patreon.com/stride3d" class="stride-patreon-link"><img src="/images/become_a_patron_button.png" width="100%"/></a>
			</div>
			<div id="x_head_subButton"><span>OPEN / CLOSE</span></div>
			<!--<div id="x_head_langList"><ul>
					<li><span>English</span></li>
			</ul></div>-->
		</div>
	</div>
