<div class="card mt-5">
    <div class="oc-sponsors-container">
        {% for tier in sponsor_tiers %}
            <div class="tier-container">
                <div class="tier-item {{ tier.id }} fw-bold display-4 text-dark">{{ tier.title }}</div>
                <div class="tier-item">
                    {% for sponsor in tier.sponsors %}
                        <div class="img-container">
                            <img src="{{ sponsor.image | default: '/images/svg/logo.svg' }}" alt="{{ sponsor.name }}" class="{{ tier.id }}"/>
                            <div>{{ sponsor.name }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>