<div class=".container-fluid mb-4">
    <div class="full-bleed">
        <h2 class="h3 mb-3 fw-bold text-stride">Develop once, deploy cross-platform</h2>
        <div class="grid">
            <div class="main">
                <img alt="stride-logo" height="37" width="124" src="/images/svg/stride-logo-dark.svg" />
            </div> 

            <div class="main center">Windows <i class="fa-brands fa-windows"></i></div>
            <div class="main center">MacOS <i class="fa-brands fa-apple"></i></div>
            <div class="main center">Linux <i class="fa-brands fa-linux"></i></div>
            <div class="main center">Android <i class="fa-brands fa-android"></i></div>
            <div class="main center">IOS <i class="fa-brands fa-apple"></i></div>

            <div class="main">Deploy</div>
            <div class="secondary check"><i class="fa-solid fa-circle-check"></i></div>
            <div class="secondary check"><i class="fa-solid fa-circle-check"></i></div>
            <div class="secondary check"><i class="fa-solid fa-circle-check"></i></div>
            <div class="secondary check"><i class="fa-solid fa-circle-check"></i></div>
            <div class="secondary check"><i class="fa-solid fa-circle-check"></i></div>

            <div class="main">Code only</div>
            <div class="secondary check"><i class="fa-solid fa-circle-check"></i></div>
            <div class="secondary check"><i class="fa-solid fa-circle-check"></i></div>
            <div class="secondary check"><i class="fa-solid fa-circle-check"></i></div>
            <div class="secondary check"><i class="fa-solid fa-circle-check"></i></div>
            <div class="secondary xmark"><i class="fa-solid fa-circle-xmark"></i></div>

            <div class="main">Game studio</div>
            <div class="secondary xmark"><i class="fa-solid fa-circle-xmark"></i></div>
            <div class="secondary xmark"><i class="fa-solid fa-circle-xmark"></i></div>
            <div class="secondary xmark"><i class="fa-solid fa-circle-xmark"></i></div>
            <div class="secondary xmark"><i class="fa-solid fa-circle-xmark"></i></div>
            <div class="secondary xmark"><i class="fa-solid fa-circle-xmark"></i></div>
        </div>
    </div>
</div>