{% comment %} Create cards manually, or move them to json {% endcomment %}
{% comment %} ORE System sponsorhsip concluded on May 2022 {% endcomment %}
{% comment %}
<div class="col-lg-4">
    <div class="card box-shadow">
        <img class="card-img-top" alt="logo" src="/images/sponsors/ore_system-next_gen_nfts_dark.png">
        <div class="card-body">
            <p class="card-text">The ORE System is a next-generation block-chain technology that creates value for content-creators, collectors, and studios with three major components.</p>
            <a target="_blank" rel="noopener" href="https://www.ore-system.com/" class="btn btn-outline-secondary stretched-link">Visit</a>
        </div>
    </div>
</div>{% endcomment %}
{% comment %} This sponsor was moved to Other Sponsor {% endcomment %}
{% comment %}<div class="col-lg-4">
    <div class="card box-shadow">
        <div class="card-body">
            <h3 class="card-title mt-2">David Jeske</h3>
        </div>
    </div>
</div>
{% endcomment %}