{% comment %} Create cards manually, or move them to json {% endcomment %}
<div class="col-lg-4">
    <div class="card text-center">
        <div class="bg-white">
            <img class="card-img-top p-4" alt="logo" src="/images/sponsors/vvvv-logo.svg">
        </div>
        <div class="card-body">
            <p class="card-text">A visual live-programming environment that takes you from rapid prototyping to final production.</p>
            <a target="_blank" rel="noopener" href="https://vvvv.org/" class="btn btn-outline-secondary stretched-link">Visit</a>
            <p class="mt-4">
                <span class="badge bg-stride me-1 mb-1">Sponsor</span>
                <span class="badge bg-warning me-1 mb-1">Golden</span>
                <span class="badge bg-primary me-1 mb-1">Technology</span>
                <span class="badge bg-info me-1 mb-1">Visualisation</span>
                <span class="badge bg-success me-1 mb-1">Partner</span>
            </p>
        </div>
    </div>
</div>