{% comment %} Create cards manually, or move them to json {% endcomment %}
<div class="col-sm-6 col-xxl-4 mb-2">
    <div class="card text-center h-100">
        <div class="bg-white d-flex justify-content-center align-middle" style="min-height: 200px">
            <a target="_blank" rel="noopener" href="https://visualprogramming.net/" class="d-flex">
                <img class="card-img-top p-4" alt="logo" src="/images/sponsors/vvvv-logo.svg" />
            </a>
        </div>
        <div class="card-body px-5 pb-5">
            <p class="card-text">A visual live-programming environment that takes you from rapid prototyping to final production.</p>
        </div>
    </div>
</div>
<div class="col-sm-6 col-xxl-4 mb-2">
    <div class="card text-center h-100">
        <div class="bg-white d-flex justify-content-center align-middle" style="min-height: 200px">
            <a target="_blank" rel="noopener" href="https://store.steampowered.com/search/?publisher=Happenstance%20Games" class="d-flex">
                <img class="card-img-top p-2" alt="Happenstance Games logo" src="/images/sponsors/HappenLogo.webp" style="width: 200px" />
            </a>
        </div>
        <div class="card-body px-5 pb-5">
            <p class="card-text">An indie game studio with a primary focus on virtual reality (VR) experiences.</p>
        </div>
    </div>
</div>
