<div class="intro-section">
  <div class="container-fluid p-0">
    <div class="intro-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/SlipyjcEb0g?controls=0&autoplay=1&mute=1&loop=1&rel=0&playlist=SlipyjcEb0g" title="Stride YouTube demo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="intro-content p-4 p-sm-5 d-flex align-items-end">
      <div class="container-xxl">
        <div class="hero-video-text">
          <h1 class="h1 mb-3 text-light mb-3 display-5 fw-bold">Stride Game Engine</h1>
          <p class="text-light mb-2 lead fw-normal">Stride is a free and <a href="{{ site.links.github-stride-url }}" target="_blank" rel="noopener">open-source</a><br class="d-md-none" /> cross-platform C# game engine.
          <p class="text-light mb-4 lead fw-normal">It is fit for both 2D and 3D games, as well as any other interactive content <br class="d-none d-md-inline" />  running on desktop, mobile and VR.</p>
          <div class="row g-2 g-md-3 mb-3">
            <div class="col-auto">
              <a href="/download/" class="btn btn-lg btn-stride">
                <i class="fa-solid fa-download"></i> Download {{ site.download-version }}
              </a>
            </div>
            <div class="col-auto">
              <a href="{{ site.links.open-collective-url }}" class="btn btn-lg btn-info" target="_blank" rel="noopener">
                {% include svg-icons.html type:'open-collective' size:22 %}&nbsp;Donate to our Collective
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>