{% if include.no-paragraph %}
<div class="embed-responsive-anyratio"><div class="video-play-button"></div>    
    <video 
        class="responsive-video"
        loop
        preload="none"
        poster="/{{ include.src }}.jpg"
        {% if include.no-autoplay!=true %}
            autoplay
        {% endif %}
        {% if include.width %} 
            width="{{ include.width }}"
        {% endif %}
         {% if include.height %} 
            height="{{ include.height }}"
        {% endif %}> 
        <source src="/{{ include.src }}.mp4" type="video/mp4">
    </video>
</div>
{% else %}
<p>
    <div class="embed-responsive-anyratio"><div class="video-play-button"></div>
        <video 
            class="responsive-video"
            loop
            preload="none"
            poster="/{{ include.src }}.jpg"
            {% if include.no-autoplay!=true %}
                autoplay
            {% endif %}
            {% if include.width %} 
                width="{{ include.width }}"
            {% endif %}
             {% if include.height %} 
                height="{{ include.height }}"
            {% endif %}>
            <source src="/{{ include.src }}.mp4" type="video/mp4">
        </video>
    </div>
</p>
{% endif %}