
$EnFamily: "Roboto", Arial, Helvetica;
$JaFamily: "メイリオUI", Meiryo UI, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic";

$c_main: #da0830;
$c_text: #111111;
$c_border: #dcdcdc;
$c_hoverBG: #e8e8e8;
$c_url: #a0a0a0;
$c_urlHover: #cccccc;

$c_log3: #e7e7e7; //_head,
$c_log4: #999999; //_head,
$c_log5: #b7b7b7; //_head,
$c_log6: #888888; //_head,
$c_log8: #a8a8a8;
$c_log9: #f8f8f8;
$c_log10: #ebebeb;
$c_log11: #e6e6e6;
$c_log12: #EEECED;
$c_log13: #F5F5F5;
$c_pricing1: #CE8512;
$c_pricing2: #30813C;
$c_pricing3: #AF0C2B; 
$c_pricing_text: #373737;

$w_max: 1352px;
$w_under_ipad: 767px;
$w_under_iphone: 567px;

$w_log1: 1024px;
$w_log2: 1280px;
$w_log3: 1212px;
$w_log4: 1175px;
$w_log5: 933px;
$w_log6: 1352px;
$w_log7: 1322px;
$w_log8: 1004px;
$w_log9: 920px;
$w_log10: 650px;
$w_log11: 400px;
$w_log12: 1090px;
$w_log13: 850px;
$w_log14: 1262px;
$w_log15: 956px;
$w_log16: 810px;