
@import "../_const.scss";

#x_wrap
{
	div.x_accordion
	{
		border-bottom: 1px solid $c_border;
		box-shadow: 0 1px #ffffff;
		
		input 
		{
			display: none;
		}

		dt 
		{
			label
			{
				display: block;
                margin: 0;
				padding: 10px 20px 10px 56px;
				background-image: url(../images/svg/icon_plus.svg), url(../images/svg/icon_minus.svg);
				background-position: 20px 50%, 20px -16px;
				background-repeat: no-repeat, no-repeat;
				background-size: 16px 16px, 16px 16px;
				cursor: pointer;
			}
		}

		dd 
		{
			height: 0;
			padding: 0 20px 0 56px;
			overflow: hidden;
			transition: padding-bottom 0.3s;

			p 
			{
				margin-bottom: 0;
			}
		}
        
        dl
        {
            margin: 0;
            padding: 0;
        }

		dl:hover
		{
			background-color: rgba(0,0,0,0.05);
		}

		input:checked + dl
		{
			background-color: rgba(0,0,0,0.05);

			dt label
			{
				background-position: 20px -16px, 20px 50%;
				color: $c_main;
			}

			dd 
			{
				height: auto;
				padding-bottom: 10px;
			}
		}
	}
}
