#xk-pricing
{
    max-width: $w_log16;
    overflow: hidden;
    margin: 20px auto;
    padding: 3px 40px;

    .xk-pricing-item
    {
        text-align: center;
        background: $c_log12;
        border-bottom-style: solid;
        border-bottom-width: 7px;
        padding: 0;
        a{
            display: block;
            width: 100%;
            height: 100%;
            padding: 12px 35px;
            @media (max-width: $w_log11){
                padding: 12px 15px;
            }
            .xk-pricing-title{
                color: $c_pricing_text;
                border-bottom: 1px solid $c_border;
                font-family: $EnFamily, $JaFamily;
                font-weight: 700 !important;
                padding: 5px 0;
                margin: 0 25px 10px 25px;
                span{
                    position: absolute;
                    margin-left: 10px;
                    color: $c_main !important;
                }
            }
            .xk-pricing-text{
                color: $c_pricing_text;
                font-family: $EnFamily, $JaFamily;
                font-size: 2.0rem;
                line-height: 1.3;
                margin-bottom: 20px;
            }
            .xk-pricing-info
            {
                font-size: 2rem;
                &[data-link]:hover{
                    opacity: 0.7;
                    text-decoration: underline;
                }
            }
            &:visited,
            &:hover,
            &:focus
            {
                text-decoration: none;
                outline: none;
            }
        }
        &.orange-item
        {
            border-bottom-color: $c_pricing1;
            .xk-pricing-info{
                color: $c_pricing1;
            }
        }
        &.green-item
        {
            border-bottom-color: $c_pricing2;
            .xk-pricing-info{
                color: $c_pricing2;
            }
        }
        &.red-item
        {
            border-bottom-color: $c_pricing3;
            .xk-pricing-info{
                color: $c_pricing3;
            }
        }
        &:nth-child(2)
        {
			border-left: 1px solid rgba(200, 200, 200, 255);
            position: relative;
            z-index: 99;
            background: $c_log13;
        }
    }
    &.during-welcome-campaign
    {
        .xk-pricing-item.green-item{
            .xk-pricing-link{
                span{
                    color: $c_pricing2;
                }
            }
            .xk-pricing-info{
                display: inline-block;
                position: relative;
                .xk-pricing-info-share{
                    position: absolute;
                    top: -16px;
                    left: 0;
                    color: $c_log4;
                    min-width: 50px;
                    font-size: 16px;
                }
            }
        }
    }
}
 
#x_wrap #xk-pricing + a.x_download
{
    max-width: 290px;
    margin-top: 65px;
    padding: 11px 0;
    margin-bottom: 65px;
}
