
#x_wrap
{
	#x_what
	{
		$w1: 1360px;
		$w2: 1165px;
		$w3: 1090px;
		$w4: 850px;

		//----------


		//----------

		margin: 50px auto;

		@media ( max-width: $w_under_iphone )
		{
			margin: 80px auto;
		}

		.svg_footer.top
		{
			z-index: 8;
		}

        div.x_container
        {
            max-width: 100%;
            padding: 0 0 60px 0;

            h2
            {
                display: block;
                padding: 0.8em 36px 0.3em;
                border: none;
                margin: 0;
                font-size: 110px;
                font-size: 11rem;
                font-family: $EnFamily;
                text-shadow: none;
                letter-spacing: 0;
                line-height: 1;
                color: $c_main;

                @media ( max-width: $w3 )
                {
                    font-size: 80px;
                    font-size: 8rem;
                }

                @media ( max-width: $w4 )
                {
                    font-size: 72px;
                    font-size: 7.2rem;
                }

                @media ( max-width: $w_under_ipad )
                {
                    font-size: 60px;
                    font-size: 6rem;
                    line-height: 1.1;
                }

                @media ( max-width: $w_under_iphone )
                {
                    padding: 0.8em 20px;
                }

                span
                {
                    background: $c_main;
                    color: #FFFFFF;
                    letter-spacing: 0;
                }
            }

            h4 
            {
                font-size: 38px;
                font-size: 3.8rem;

                span
                {
                    background: $c_main;
                    color: #ffffff;
                }

                @media ( max-width: $screen-sm-max )
                {
                    text-align: center;
                }

                @media ( max-width: $w_under_ipad )
                {
                    font-size: 28px;
                    font-size: 2.8rem;
                }
            }

            div.x_what
            {
                font-size: 24px;
                font-size: 2.4rem;

                @media ( max-width: $w_under_ipad )
                {
                    font-size: 18px;
                    font-size: 1.8rem;
                }
            }
            
            div.ccm-custom-style-container
            {
                margin-top: 20px;
                margin-bottom: 90px;
            }

            div.xb_type_short
            {
                @media ( max-width: $w2 )
                {
                    display: block;
                    margin: 0 auto;
                }
            }

            div.x_youtubeCulumns
            {
                width: 1280px;
                overflow: hidden;
                margin: 0 auto;

                div.xy_culumn
                {
                    float: left;

                    &.movie
                    {
                        width: 816px;
                    }

                    &.description
                    {
                        width: 429px;
                        padding-left: 35px;
                    }
                }
                
                .principle-block
                {
                    @media ( max-width: $screen-sm-max )
                    {
                        margin-top: 20px;
                    }
                    
                    ul
                    {
                        padding-left: 10px !important;
                        margin-bottom: 25px;

                        @media ( max-width: $screen-sm-max )
                        {
                            display: table;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    
                        li
                        {
                            &:before {
                                content: '';
                                position: absolute;
                                width: 32px;
                                height: 32px;
                                @media ( max-width: 767px ) {
                                    width: 36px;
                                    height: 36px;
                                }
                                margin-left: -24px;
                                background: url(../images/svg/arrow_red_6.svg) no-repeat -14px 50%;
                                background-size: 30px 100px;
                            }

                            list-style: none !important;
                            font-size: 18px;
                            font-size: 1.8rem;
                            padding-left: 27px;
                            margin-bottom: 14px !important;
                            
                            @media ( max-width: 767px )
                            {
                                padding-left: 24px;
                                font-size: 20px;
                                font-size: 2.0rem;
                            }
                        }
                    }
                }

                @media ( max-width: $w1 )
                {
                    width: 1086px;

                    div.xy_culumn
                    {
                        &.movie
                        {
                            width: 620px;
                        }

                        &.description
                        {
                            width: 431px;
                        }
                    }
                }

                @media ( max-width: $w2 )
                {
                    width: 100%;

                    div.xy_culumn
                    {
                        float: none;

                        &.movie
                        {
                            margin: 0 auto 1em;
                        }

                        &.description
                        {
                            width: auto;
                            padding: 0 36px;
                        }
                    }
                }

                @media ( max-width: $w_under_ipad )
                {
                    div.xy_culumn.movie
                    {
                        width: 468px;
                    }
                }

                @media ( max-width: $w_under_iphone )
                {
                    div.xy_culumn
                    {
                        &.movie
                        {
                            width: 300px;
                        }

                        &.description
                        {
                            padding: 0 20px;
                        }
                    }
                }
            }
		}
	}
}
