---
layout: default
menu: blog
---
<div class="banner banner-blog">
    <div class="cover container">
        <div class="row">
            <div class="col-lg-12 rt-block rt-center">
				<p class="rt-promo1">Blog</p>
				<p class="rt-title-tag">Latest news!</p>
			</div>
		</div>		
	</div>
    <svg class="bottom left svg_footer"></svg>
    <svg class="bottom right svg_footer"></svg>
</div>

<div class="x_body">
    <div class="bg-corner">
        <div class="bg-light">
            <div class="container">
                {% if page.image and page.layout == 'post' %}
                <div class="xk-blog-article-image">
                    <img src="{{ page.image }}" alt="{{ page.title }}">
                </div>
                {% endif %}
                <aside class="col-md-3 hidden-sm hidden-xs col-md-offset-1 xk-aside-posts">
                    {% include post/sidebar_posts.html %}
                </aside>
                <div class="blog-content col-md-8">
                    <div class="row">		
                        <div>
                            {{ content }}
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <svg class="top left svg_footer"></svg>
        <svg class="top right svg_footer"></svg>
        <svg class="bottom left svg_footer"></svg>
        <svg class="bottom right svg_footer"></svg>
    </div>
</div>

