<!doctype html>
<html lang="en" class="h-100">
{% include _head.html %}
<body class="bg-stride-website d-flex flex-column min-vh-100">
    {%- include _top-navigation.html -%}
    {%- if site.alert-banner -%}{% include alert-banner.html %}{%- endif -%}
    {%- if banner -%}{% include banner.html title:banner.title sub-title:banner.sub-title image-url:banner.image-url h1:banner.h1 %}{%- endif -%}
    {{ content }}
    {%- include footer.html btn-class:"link-danger" social-class:"link-danger" -%}
    {%- comment -%}{% include footer.html btn-class:"link-light" social-class:"link-light" %}{%- endcomment -%}
    <script src="{{ site.baseurl}}/scripts/bootstrap.bundle.min.js?site-version={{site.version}}"></script>
</body>
</html>