---
layout: default
menu: features
---
<div class="banner banner-features">
    <div class="cover container">
        <div class="row">
            <div class="col-lg-12 rt-block rt-center">
                <p class="rt-promo1">Xenko Features</p>
                <div class="navsub">
                    <ul class="nav navbar-nav">
                        <li><a href="#game-studio">Editor</a></li>
                        <li><a href="#graphics">Graphics</a></li>
                        <li><a href="#engine">Engine</a></li>
                        <li><a href="#vr">VR</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <svg class="bottom left svg_footer"></svg>
    <svg class="bottom right svg_footer"></svg>
</div>

<div class="x_body">
    <div class="bg-corner">
{{ content }}
        <svg class="top left svg_footer"></svg>
        <svg class="top right svg_footer"></svg>
        <svg class="bottom left svg_footer"></svg>
        <svg class="bottom right svg_footer"></svg>
    </div>
</div>
