/*
 * Globals
 * This is mostly the old style from previous website before 2016/09 redesign
 * Most of it should be spread amongst common/* or feature/view, download/view, etc...
 */
body {
  font-family: Arial,Helvetica,sans-serif;
}

.rt-accent-color1
{
	color: $accent-color-light;
}

/* 
Navigation Bar 
*/
@font-face {
    font-family: 'cabinregular';
    src: url('/fonts/cabin-regular-webfont.eot');
    src: url('/fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cabin-regular-webfont.woff') format('woff'),
         url('/fonts/cabin-regular-webfont.ttf') format('truetype'),
         url('/fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cabinsemibold';
    src: url('/fonts/cabin-semibold-webfont.eot');
    src: url('/fonts/cabin-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cabin-semibold-webfont.woff') format('woff'),
         url('/fonts/cabin-semibold-webfont.ttf') format('truetype'),
         url('/fonts/cabin-semibold-webfont.svg#cabinsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.x_siliconstudio_logo
{
    padding: 20px;
}

.x_search, .x_sns
{
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.navbar-right
{
	padding: 0px;
	margin: 15px 0px 0px 0px !important;
}

.rt-logo {
    background: transparent url("/images/logo.png") no-repeat scroll 0px 0px;
    display: block;
    width: 380px;
    height: 60px;
    margin: 9px 25px 0px;
}

/*
Banner
*/
.banner-home
{
	position: relative;
	color: $text-color-with-dark-bg;
	z-index: 5; // on top of "hiring"
	
	.readon, .readon2, .readon3, .readon4
	{
		font-size: 25px;
	}
	
	.readon3
	{
		border: 2px solid $text-color-with-dark-bg;
	}
	
	.rt-block
	{
		text-shadow:    0px 0px 1px #333,
   /* Simulated effect for Firefox and Opera
      and nice enhancement for WebKit */
		-1px -1px 0 #333,  
 		 1px -1px 0 #333,
		-1px  1px 0 #333,
 		 1px  1px 0 #333;
	}
}

.background-home
{
	background-size: cover;
	background-position: 50% 26%;
	background-image: url("/images/backgrounds/rescue-robot-tech-demo.jpg");
	height: 440px;
}

.banner
{
    overflow: hidden;
	position: relative;
	background-size: cover;
	height: 206px;
	color: $text-color-with-dark-bg;

   	.rt-block
	{
		text-shadow: 0px 0px 2px #333;
	}
    
    div.cover
    {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        background: url(../images/top/svg/dot.svg) repeat 0 0 rgba(0,0,0,0.3);
        background-size: 50px 50px;
    }
}
 
.banner-features
{
	background-position: 50% 40%;
	background-image: url("/images/backgrounds/features_banner.jpg");
}

.banner-download
{
	background-position: 50% 70%;
	background-image: url("/images/backgrounds/download.jpg");
}

.banner-blog
{
	background-position: 50% 50%;
	background-image: url("/images/backgrounds/news.jpg");
}

.banner-legal
{
	background-position: 60% 25%;
	background-image: url("/images/backgrounds/legal.jpg");
}

.banner-community
{
	background-position: 50% 50%;
	background-image: url("/images/backgrounds/spaceescape.jpg");
}

.banner-faq
{
	background-position: 50% 50%;
	background-image: url("/images/backgrounds/faq.jpg");
}

.gantry-width-spacer {
    margin: 15px;
    overflow: hidden;
}

.rt-promo1 {
    font-family: "cabinregular",Verdana,Helvetica,Arial,sans-serif;
    font-size: 48px;
    line-height: 78px;
}

.rt-promo3
{
	font-family: "cabinregular",Verdana,Helvetica,Arial,sans-serif;
	
	font-size: 4.0vmin;
	line-height: 1.3em;
}

.rt-promo2 {
    font-size: 24px;
    line-height: 39px;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-style: italic;
}

.largemargintop {
    margin-top: 15px !important;
}

.largemarginbottom {
    margin-bottom: 15px !important;
}

.download-area {
    margin-top: 35px;

	text-align: center;

	.xk-frontpage-main-button
	{
		display: inline-block !important;
		max-width: 300px;
		margin: 0 10px !important;
		vertical-align: center;
	}

	.xk-download:hover
	{
		span.xi_download
		{
			background-position: 100% 100%;
		}
	}
}

.rt-title-tag {
    display: block;
    font-size: 19.2px;
    line-height: 1.2em;
}

.rt-block
{
	margin: 25px 10px;
	padding: 15px;
}

.logo-area
{
	text-align: center;
}

.partner-logo
{
	max-height: 40px;
	margin: 20px 30px;
	display: inline;
}

/*
Gray Top Banner
*/
.xk-announce
{
	font-family: "cabinregular",Verdana,Helvetica,Arial,sans-serif;
	font-weight: normal;
	color: #8B8B8B;
	
	h1
	{
		font-family: "cabinsemibold",Verdana,Helvetica,Arial,sans-serif;
		font-weight: normal;
		color: #656565;
	}
}

 
/*
Sub-navigation menu
*/

.row.navsub
{
	position: absolute;
	bottom: 10px;
}

.navsub .navbar-nav
{
    float: none;
    display: inline-block;
    
    .active
    {
        border-bottom: 3px solid $link-color;
        padding-bottom: 0px;	
    }
    
	li 
	{
        @media (min-width: $screen-sm-min) {
            padding-right: 20px;
            margin-right: 5px;
        }

        a
		{
			font-family: "cabinregular",Verdana,Helvetica,Arial,sans-serif;
			color: $text-color-with-dark-bg;
            border: 2px solid $accent-color;
            border-radius: 2px;
            box-shadow: 0 0 0 2px rgba(0,0,0,0.2) inset;
            background: $accent-color;
			padding-top: 4px;
			padding-bottom: 4px;
            margin: 4px;
			font-size: 16px;	
			min-width: 70px;
			text-align: center;			
		}
		
		&.active > a
		{
			background-color: $accent-color-light;
			border-bottom: 2px solid $accent-color-darken;
		}
		
		&:hover > a
		{
			background: rgba(218,8,48,0.8);
			border-bottom: 2px solid $accent-color2-darken;
		}
	}
}

/* .navsub .navbar-nav > li.active > a
{
	background-color: $accent-color-light;
	border-bottom: 2px solid $accent-color-darken;
}
 */

.banner-features
{
    .navsub 
    {
        margin-top: 40px;
       
        @media (max-width: $grid-float-breakpoint-max) {
            margin-top: 0px;
            top: 70px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    
    .rt-block
    {
        @media (max-width: $grid-float-breakpoint-max) {
            margin: 0;
            padding: 0;
        }
    }
}  
 
/*
Headers
*/
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin-top: 0;
    margin-bottom: 20px;
	font-family: "cabinsemibold",Verdana,Helvetica,Arial,sans-serif;
	font-weight: normal !important;
}

.entry-content
{
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.blog-content
{
	@extend .entry-content;
}

.blog-content .rss
{
	position: inline-block;
	text-align: center;
	a {
		color: #FF7B3D;
	}
}

.blog-content .rt-image
{
	padding: 15px;
}

/*
Feature styles
*/
#x_wrap div.x_fnBox div.xi_arrowLink
{
    float: right;
    position: relative;
}

#x_wrap div.x_fnBox:hover
{
	background-color: #E8E8E8;
	border-radius: 5px;
}

// Display red arrow when mouse is anywhere in the whole block
#x_wrap div.x_fnBox:hover div.xi_arrowLink
{
	background-position: 100% 50%;
}

/*
Image popup
*/
.image-popup
{
	max-width: 100%; /* add this to enable resize of child img */
	position: relative;
	display: block;
}

div.zoom-in
{
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-position: -64px -56px;
	width: 32px;
	height: 32px;
	z-index: 20;
	cursor: pointer;
	background: url('/images/icon-zoom-in.png') no-repeat scroll 0px 0px rgba($accent-color1, 0.7);
	border-radius: 4px;
	background-position: 50% 50%;
    
    @media ( max-width: $screen-sm-max )
    {
        visibility: hidden;
    }

    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;	
}


div.zoom-in:hover
{
    background-color: rgba($accent-color2, 0.7);
	
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

div.video-play-button
{
    visibility: hidden;
	position: absolute;
    left: 50%;
    top: 50%;
	background-position: -64px -56px;
    transform: translateY(-50%) translateX(-50%);
	width: 64px;
	height: 64px;
	z-index: 20;
	cursor: pointer;
	background: url('/images/icon-video-play.png') no-repeat scroll 0px 0px rgba($accent-color1, 0.7);
    pointer-events: none;
	border-radius: 8px;
	background-position: 50% 50%;
    
    @media ( max-width: $screen-sm-max )
    {
        visibility: visible
    }

    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;	
}


div.video-play-button:hover
{
    background-color: rgba($accent-color2, 0.7);
	
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

/* hide webkit and mozilla play button */
.feature-block *::-webkit-media-controls-panel,
.feature-block *::--webkit-media-controls-play-button,
.feature-block *::-webkit-media-controls-start-playback-button
 {
  display: none!important;
  -webkit-appearance: none;
}

a.image-popup
{
	&:link, &:visited, &:active {
		text-decoration: none;
	}
	&:focus {
		outline: 0;
	}	
}

a.inline-popup
{
	&:hover, &:link, &:visited, &:active {
		text-decoration: none;
	}
	&:focus {
		outline: 0;
	}	
}

.feature-image-container {
  padding: 5px 0 15px;
}

.mfp-video {
  position: relative;
  width: auto;
  max-width: 80%;
  left: 10%;
}

.mfp-video.embed-responsive-16by9
{
    /* (16/9)*0.8 */
    padding-bottom: 45%;
}

/*
Templating for alert with icons
*/
.alert .fa
{
	font-size: 30px;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;	
}

/*
Template for Next between articles
*/
.pdx-next
{
	text-align: right;
	font-size: 250%;
	padding-top: 30px;
	line-height: 40px;
}

.pdx-next > span[class^="icon-"]
{
	padding-left: 10px;
	display: inherit;	
}

/*
Template for Licensing
*/
.xk-licensing
{
	font-family: Calibri, Arial;
	background-color: #EEE;
    padding: 20px;
}

.pdx-tokusho
{
	font-family: $JaFamily;
	background-color: #EEE;
    padding: 20px;
}

.pdx-tokusho  h3
{
	margin-top: 35px;
	margin-bottom: 10px;
	font-family: $JaFamily;
}

.sskk-branding
{
	padding-bottom: 15px;
	padding-left: 5px;
}

/*
Copyright SengokuRun
*/
span.copyright-yomiuri
{
	font-size: 55%;
	display: block;
	margin-top: -10px;
}

span.copyright-yomiuri::after
{
	content: 'Copyright © YOMIURI TELECASTING CORPORATION. All rights reserved';
}

.showcase-copyright-yomiuri::after
{
	content: "Copyright © YOMIURI TELECASTING CORPORATION. All rights reserved";
	font-size: 70%;	
	display: block;
	color: $text-color-with-dark-bg;
 	margin-top: 110px;
	margin-left: 10px;
 	text-shadow: 0px 0px 2px #000;
}

#rt-showcase p, #rt-showcase h2
{
	text-shadow: 0px 0px 2px #333;
}

/*
Templating for social icons
*/
a.social-button  .icon-twitter:hover
{
	color: $text-color-with-dark-bg;
}

a.social-button  .icon-facebook:hover
{
	color: $text-color-with-dark-bg;
}

/*
Templating disqus
*/

body div.jwDisqusArticleCounter
{
	border-top: 0px none;
}

body div.jwDisqusArticleCounter span
{
	border-top: 0;
	border-bottom: 0;
	background: none;
}

body a.jwDisqusListingCounterLink
{
	line-height: 50px;
}

/*
Readon buttons
*/
.readon, .readon2, .readon3, .readon4
{
	display: inline-block;
	line-height: normal;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	color: $text-color-with-dark-bg;
	border-width: 0px 0px 2px;
	border-style: none none solid;
	border-radius: 6px;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
	background-image: none;
	text-shadow: none;
	transition: all 0.2s ease-in 0s;
	padding: 12px 30px;
	margin-bottom: 10px;
	text-decoration: none;
	min-width: 210px;
	&:hover
	{
		color: $text-color-with-dark-bg;
		background-color: $accent-color2;
		border-color: darken($accent-color2, 20%);
		text-decoration: none;
	}	
}

.readon 
{
	background-color: $accent-color1;
	border-color: darken($accent-color1, 20%);
	&:hover
	{
		background-color: $accent-color2;
		border-color: darken($accent-color2, 20%);
	}	
}

.readon2 {
	background-color: $accent-color2;
	border-color: darken($accent-color2, 20%);
	&:hover
	{
		background-color: #444;
		border-color: #222;
	}	
}

.readon3 {
	background-color: $accent-color3;
	border-color: darken($accent-color3, 20%);
}

.readon4 {
	background-color: $accent-color4;
	border-color: darken($accent-color4, 20%);
}

.rt-large-button
{
	font-size: 2em;
	padding: 5% 10%;
}

.navbar-fixed-top
{
	min-height: 50px;
}


/*
Misc Templating
*/

.x_fnBox a {
    color: inherit;
    text-decoration: none;
}

.rt-community-image {
    float: left;
    margin-right: 20px;
    position: relative;
    width: 150px;
    height: 150px;
    
    @media ( max-width: $screen-xs-max )
    {
        width: 120px;
        height: 120px;
    }
}

.rt-center {
    text-align: center;
}

.rt-image {
    position: relative;
}

.rt-image-inline {
    position: relative;
}

.rt-image-inline img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
	margin: auto;
	margin-bottom: 20px;
}

.rt-image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);	
	margin: auto;
}

.vertical-center {
    @media ( min-width: $screen-md-min ) {
        display: flex;
        align-items: center;
    }
}

/*
Blog layout
*/
h1.title
{
	color: $accent-color1 !important;
}

.xk-module-title
{
	@extend h3;
	margin-top: 10px;
	margin-bottom: 20px;
	display: block;
}

.xk-blog-post-meta
{
	.fa
	{
		padding-right: 4px;
	}
}

#page-navigation
{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.2em;
}

#disqus_thread 
{
    padding: 8px;
    margin-top: 12px;
    background: #F9F9F9 none repeat scroll 0% 0%;
    border-radius: 4px;
    border: 1px solid #DFDFDF;
}


/*
General Layout
*/
html, body
{
	margin:0;
	padding:0;
	height:100%;
}
body
{
	padding-bottom: 118px;
}
#xk-header
{
}
#xk-footer
{
	width: 100%;
	line-height: 14px;
	height:128px;			/* Height of the footer */
	color: #5F5F5F;
	position: absolute;
    left: 0;
    bottom: 0;
	a 
	{
		color: #5F5F5F;
		&:hover
		{
			color: #FFF
		}
	}
}

/*
Layout for contact
*/
.xk-contact-form
{
	padding-top: 0px;
	padding-bottom: 50px;
}

/*
Layout for front Latest News
*/
.xk-front-latest
{
	.readon
	{
		font-size: 12px;
	}
}

/*
Class to center images
*/
.center-image
{
    margin: 0 auto;
    display: block;
}

.hiring
{
	position: relative;
}

.hiring-image
{
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.anchor
{
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.bg-bottom-border
{
    border-bottom: 1px solid #dcdcdc;
}

/* used to add svg corner */
.bg-corner
{
    position: relative;
    padding: 1px;
    background: #dcdcdc;
}

.bg-light
{
    padding-bottom: 35px;
    padding-top: 35px;
    position: relative;
    background: url(../images/top/svg/bg_light.svg) repeat 50% 0;
}

.bg-dark
{
    padding-bottom: 35px;
    padding-top: 35px;
    position: relative;
    background: url(../images/top/svg/bg_dark.svg) repeat 50% 0;
}
