
#x_foot
{
	$w1: 1352px;
	$w2: 1322px;
	$w3: 1004px;
	$w4: 920px;
	$w5: 650px;
	$w7: 400px;

	//----------

	width: 100%;
	max-width: 1862px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;

	div.x_footBody
	{
		padding-bottom: 40px;
		position: relative;
		background: #000000;

		@media ( max-width: $w5 )
		{
			background: #141414;
		}

		@media ( max-width: $w_under_iphone )
		{
			padding-bottom: 0;
		}
	}

	/*************************************
		container
	*************************************/

	div.x_container
	{
		width: 100%;
		height: 166px;
		background: url(../images/backgrounds/foot_bg.jpg) no-repeat 50% 0 #222222;
		position: relative;

		@media ( max-width: $w4 )
		{
			height: auto;
			background-position: 60% 0;
		}

		@media ( max-width: $w5 )
		{
			background-position: 70% 0;
		}

		#x_foot_sitemap
		{
			width: 570px;
			overflow: hidden;
			position: absolute;
			top: 40px;
			right: 50%;

			@media ( max-width: $w1 )
			{
				left: 76px;
				right: auto;
			}

			@media ( max-width: $w3 )
			{
				width: 459px;
			}

			@media ( max-width: $w4 )
			{
				width: 579px;
				padding: 40px 0 0 15px;
				position: static;
				margin: 0 auto;
			}

			@media ( max-width: $w5 )
			{
				width: 100%;
				padding: 0;
				border-bottom: 1px solid rgba(255,255,255,0.2);
			}

			ul 
			{
				width: 175px;
				padding-right: 15px;
				float: left;
				font-size: 12px;
				font-size: 1.2rem;
				line-height: 1.5;
				color: #FFFFFF;

				@media ( max-width: $w3 )
				{
					width: 143px;
					padding-right: 10px;
				}

				@media ( max-width: $w4 )
				{
					width: 178px;
					padding-right: 15px;
				}

				@media ( max-width: $w_under_ipad )
				{
					font-size: 14px;
					font-size: 1.4rem;					
				}

				@media ( max-width: $w_under_iphone )
				{
					font-size: 16px;
					font-size: 1.6rem;
				}

				@media ( max-width: $w5 )
				{
					width: 100%;
					padding-right: 0;
					overflow: hidden;
					float: none;
					text-align: center;
				}

				li 
				{
					padding-left: 17px;
					margin-bottom: 6px;
					background: url(../images/svg/arrow_red_6.svg) no-repeat -13px 50%;
					background-size: 24px 80px;

					@media ( max-width: $w4 )
					{
						padding-left: 24px;
						background-position: -14px 50%;
						background-size: 30px 100px;
					}

					@media ( max-width: $w5 )
					{
						width: 100%;
						padding: 0;
						border-top: 1px solid rgba(255,255,255,0.2);
						margin-bottom: 0;
						background: none;
						line-height: 3.5;
						float: left;
					}

					&.child
					{
						padding-left: 6px;
						margin-bottom: 0;
						background: none;

						@media ( max-width: $w4 )
						{
							padding-left: 11px;
						}

						@media ( max-width: $w5 )
						{
							height: 0;
							padding-left: 0;
							overflow: hidden;
							border-top: none;

							&.open
							{
								height: auto;
							}
						}
					}

					a 
					{
						color: #ffffff;
						text-decoration: none;

						&:hover
						{
							color: #cccccc;
						}

						@media ( max-width: $w5 )
						{
							display: block;
							width: 100%;
							overflow: hidden;
							background: url(../images/svg/arrow_gray_8.svg) no-repeat 100% 50% rgba(0, 0, 0, 0.4);
							background-size: 40px 30px;
						}
					}

					span 
					{
						@media ( max-width: $w5 )
						{
							display: block;
							width: 100%;
							overflow: hidden;
							background: rgba(0, 0, 0, 0.4);
							cursor: pointer;
						}

						&:hover
						{
							color: #cccccc;
						}
					}

					&.caption
					{
						margin-bottom: 0;

						a, span
						{
							@media ( max-width: $w5 )
							{
								background: url(../images/svg/sitemap_icon_01.svg) no-repeat 36px 50% rgba(0, 0, 0, 0.4);
								background-size: 16px 16px;

								&.open
								{
									background-image: url(../images/svg/sitemap_icon_02.svg);
								}
							}

							@media ( max-width: $w_under_iphone )
							{
								background-position: 20px 50%;
							}
						}
					}

					ul 
					{
						padding-top: 0.5em;
						padding-bottom: 1.25em;
						float: none;

						@media ( max-width: $w5 )
						{
							padding: 0;
							border-top: 1px solid rgba(255,255,255,0.2);
						}

						li 
						{
							padding: 4px 0;
							margin-bottom: 0;
							background: none;
							list-style: disc inside;

							&.index
							{
								display: none;
							}

							@media ( max-width: $w4 )
							{
								padding: 5px 0;
							}

							@media ( max-width: $w5 )
							{
								padding: 0;
								line-height: 3;
								list-style: none;

								&:nth-child(1)
								{
									border-top: none;
								}

								&.index
								{
									display: block;
								}

								a 
								{
									background: url(../images/svg/sitemap_icon_03.svg) no-repeat 40px 50%, url(../images/svg/arrow_gray_8.svg) no-repeat 100% 50%;
									background-size: 8px 2px, 40px 30px;

									@media ( max-width: $w_under_iphone )
									{
										background-position: 24px 50%, 100% 50%;
									}
								}
							}
						}
					}
				}
			}
		}

		/*************************************
			subContainer
		*************************************/

		div.x_subContainer
		{
			width: 694px;
			position: absolute;
			bottom: 32px;
			left: 45%;
			margin-left: -14px;

			@media ( max-width: $w1 )
			{
				left: auto;
				right: 76px;
				margin-left: 0;
			}

			@media ( max-width: $w2 )
			{
                bottom: 0px;
				width: 282px;
			}

			@media ( max-width: $w4 )
			{
				width: 220px;
				padding: 24px 0;
				margin: 0 auto;
			}

			@media ( max-width: $w5 )
			{
				position: static;
				width: auto;
				padding: 15px 36px 24px;
				background: rgba(0,0,0,0.4);
			}

			@media ( max-width: $w_under_iphone )
			{
				padding: 15px 20px 24px;
			}

			/*************************************
				add
			*************************************/
			&>a{
				display: inline-block;
				@media ( max-width: $w_log10 )
				{
					width: 100%;
				}
			}
			p.x_add
			{
				width: 187px;
				background: url(../images/svg/logo_siliconstudio.svg) no-repeat 0 100%;
				background-size: 185px 40.7px;
				font-size: 12px;
				font-size: 1.2rem;
				line-height: 1.5;
				color: #ffffff;
				min-height: 40px;

				@media ( max-width: $w2 )
				{
					width: 335px;
					padding: 53px 0 0 0;
					background-position: 0 0;
				}

				@media ( max-width: $w4 )
				{
					width: 520px;
					min-height: 41px;
					padding: 0 0 0 205px;
					background-position: 0 100%;
				}

				@media ( max-width: $w5 )
				{
					width: auto;
				}

				@media ( max-width: $w_log10 )
				{
					background-position: center;
				}

				@media ( max-width: $w_under_iphone )
				{
					width: 100%;
					padding: 48px 0 0 0;
					background-position: 50% 0;
					text-align: center;
				}

				span 
				{
					display: inline-block;
				}
			}

			/*************************************
				sns
			*************************************/

			ul.x_sns
			{
				width: 124px;
				height: 16px;
				overflow: hidden;
				position: absolute;
				bottom: 3px;
				right: -45px;

				@media ( max-width: $w2 )
				{
					position: static;
				}

				@media ( max-width: $w4 )
				{
					width: 180px;
					height: 27px;
					margin: 0 auto;
				}
				@media ( max-width: $w_log10 ){
					right: 0;
					text-align: center;
				}
				li 
				{
					height: 16px;
					padding: 0 5px;
					float: left;

					@media ( max-width: $w2 )
					{
						padding: 0 10px 0 0;
					}

					@media ( max-width: $w4 )
					{
						padding: 0 14px;
					}
					@media ( max-width: $w_log10 ){
						float: none;
						display: inline-block;
					}
					a 
					{
						font-size: 0;
						display: block;
						width: 18px;
						height: 16px;
						overflow: hidden;
						background: url(../images/svg/sns.svg) no-repeat;
						background-size: 56px 84px;
						text-indent: 100%;
						white-space: nowrap;

						&:hover
						{
							opacity: 0.7;
						}

						@media ( max-width: $w4 )
						{
							width: 32px;
							height: 27px;
							background-size: 100px 150px;
						}
					}

					&.facebook a 	{ background-position: -28px 0; }
					&.twitter a 	{ background-position: -28px -28px; }
					&.youtube a 	{ background-position: -28px -56px; }
					&.rss a {background: transparent; color: #fff; text-indent: 0; font-size: 17px; margin-left: 5px;}

					@media ( max-width: $w4 )
					{
						width: 32px;
						height: 27px;
						background-size: 100px 150px;

						&.facebook a 	{ background-position: -50px 0; }
						&.twitter a 	{ background-position: -50px -50px; }
						&.youtube a 	{ background-position: -50px -100px; }
						&.rss a{font-size: 29px;}
					}
				}
			}
		}
	}

	/*************************************
		siteInfo
	*************************************/

	ul.x_siteInfo
	{
		height: 40px;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		right: 0;
		left: -60px;
		z-index: 9;
		margin: 0 auto;
		text-align: center;
		.stride-footer-middle-link{
			float: none;
			margin-right: 0;
			margin-left: -90px;
			@media (max-width: $w1){
				margin-left: -100px;
			}
			@media ( max-width: $w4 ){
				margin-left: 0;
				float: none;
			}
			@media ( max-width: $w_under_iphone ){
				width: 100%;
				text-align: center !important;
				font-size: 0.9rem;
				padding: 10px 0 10px 9px;
				clear: both;
			}
		}
		@media ( max-width: $w1 )
		{
			// width: 50%;
			padding-left: 76px;
			box-sizing:  border-box;
			left: 0;
			right: auto;
		}

		@media ( max-width: $w4 )
		{
			padding-left: 36px;
		}

		@media ( max-width: $w_under_iphone )
		{
			width: auto;
			max-width: 300px;
			height: auto;
			padding: 0 20px;
			margin: 0 auto;
			position: static;
			background-size: 651px 42px;
		}

		li
		{
			display: inline-block;
			padding-right: 20px;
			float: left;
			font-size: 11px;
			font-size: 1.1rem;
			line-height: 40px;

			@media ( max-width: $w_under_iphone )
			{
				display: block;
				width: 50%;
				padding: 0 13px;
				box-sizing: border-box;
				text-align: center;
				line-height: 1.5;

				&:nth-child(odd)
				{
					text-align: right;
				}

				&:nth-child(even)
				{
					text-align: left;
				}
			}

			a 
			{
				color: #ffffff;

				&:hover
				{
					color: #cccccc;
					text-decoration: underline;
				}
			}
		}
	}

	/*************************************
		copyRight
	*************************************/

	p.x_copyCenter
	{
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		height: 40px;
		line-height: 40px;
		width: 40%;
    	margin: auto;
		z-index: 9;
		color: #ffffff;
		font-size: 9px;
		font-size: 0.9rem;
		
		a
		{
			color: #ffffff;
			text-decoration: underline;
		}

		@media ( max-width: $w_under_iphone )
		{
			height: 30px;
			line-height: 30px;
			width: auto;
			height: auto;
			padding: 0 20px;
			position: static;
			text-align: center;
		}
	}

	p.x_copyRight
	{
		width: 600px;
		height: 40px;
		position: absolute;
		bottom: 0;
		left: 50%;
		font-size: 9px;
		font-size: 0.9rem;
		line-height: 40px;
		color: #ffffff;
		text-align: right;
        margin: 0;

		@media ( max-width: $w1 )
		{
			width: 50%;
			padding-right: 76px;
			box-sizing:  border-box;
			left: auto;
			right: 0;
		}

		@media ( max-width: $w4 )
		{
			padding-right: 36px;
		}

		@media ( max-width: $w_under_iphone )
		{
			width: auto;
			height: auto;
			padding: 0 20px;
			position: static;
			text-align: center;
			line-height: 5;
		}
	}

	/*************************************
		to top
	*************************************/

	div.x_totop
	{
		width: 100%;
		height: 40px;
		position: relative;

		a 
		{
			display: block;
			width: 38px;
			height: 39px;
			overflow: hidden;
			border: 1px solid #bbbbbb;
			border-bottom: none;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: 600px;
			background: url(../images/svg/totop.svg) no-repeat 7px 9px #ffffff;
			background-size: 24px 21px;
			text-indent: 100%;
			white-space: nowrap;

			&:hover
			{
				background-color: $c_hoverBG;
			}

			@media ( max-width: $w_max )
			{
				left: auto;
				right: 36px;
				margin-left: 0;
			}

			@media ( max-width: $w_under_iphone )
			{
				right: 20px;
			}
		}
	}
}
