
#x_wrap
{
	$w1: 1280px;
	$w2: 1200px;
	$w3: 1024px;
	$w6: 320px;
	$w7: 280px;

	//----------

	div.x_pageInfo
	{
		overflow: hidden;
		position: relative;
		margin-bottom: 90px;

		&.showThumb
		{
			min-height: 200px;
			padding-left: 230px;
			position: relative;

			div.xi_thumbnail
			{
				width: 198px;
				height: 198px;
				overflow: hidden;
				border: 1px solid $c_border;
				border-radius: 2px;
				position: absolute;
				top: 0;
				left: 0;
				background-repeat: no-repeat;
				background-position: 50% 0;
				background-size: auto 100%;
				text-indent: 276px;
				white-space: nowrap;
			}

			@media ( max-width: $w3 )
			{
				padding-left: 170px;

				div.xi_thumbnail
				{
					width: 138px;
					height: 138px;
				}
			}

			@media ( max-width: $w_under_ipad )
			{
				padding-left: 300px;
				margin-bottom: 2em;

				div.xi_thumbnail
				{
					width: 276px;
					height: 153px;
					background-size: 100% auto;
				}
			}

			@media ( max-width: $w_under_iphone )
			{
				padding: 0;

				div.xi_thumbnail
				{
					position: static;
					margin: 0 auto 15px;
				}
			}
		}

		span.xi_date
		{
			display: inline-block;
			padding: 0.4em;
			border-radius: 2px;
			margin-bottom: 1em;
			background: #a0a0a0;
			color: #ffffff;
			font-size: 12px;
			font-size: 1.2rem;
			line-height: 1;

			@media ( max-width: $w_under_ipad )
			{
				font-size: 10px;
				font-size: 1.0rem;
			}
		}

		dl
		{
			dt.xi_title
			{
				margin-bottom: 0.6em;
				color: $c_main;
				font-size: 28px;
				font-size: 2.8rem;

				a
				{
					text-decoration: none;

					&:hover
					{
						background: $c_main;
						color: #ffffff;
					}
				}

				@media ( max-width: $w_under_ipad )
				{
					font-size: 20px;
					font-size: 2.0rem;
					line-height: 1.3;
				}
			}

			dd
			{
				&.xi_description
				{
					img
					{
						width: auto;
						height: 1em;
						vertical-align: text-bottom;
					}

					span.xi_more
					{
						display: inline-block;
					}

					@media ( max-width: $w_under_ipad )
					{
						font-size: 13px;
						font-size: 1.3rem;
					}
				}

				&.xi_url
				{
					padding-top: 1em;
					font-size: 12px;
					font-size: 1.2rem;

					a 
					{
						text-decoration: none;
						color: $c_url;

						&:hover
						{
							color: $c_urlHover;
						}
					}
				}
			}
		}
	}
}
